body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.clear {
    clear: both;
}
div.header{
    width: 100%;
    height: 70px;
    background-color:#f7f9fc/* #f0f0f0*/;
    border-bottom: 1px solid #d1d1d0;

}
div.header div.logo{
    float: left;
    width: 50%;
}
div.header div.logo img{
    padding-left: 50px;
}
div.manage-profile {
    float: right;
    width: 50%;
    text-align: right;
}
div.manage-profile ul{
    padding-right: 50px;
    padding-top: 15px;
}

div.manage-profile ul li{
    display: inline;
    list-style: none;
    padding-right: 25px;
}
div.filter-section{
    float: left;
    padding-left: 20%;
    padding-top: 20px;
}
.filter-item{
    margin: 15px 0px;
    width: 30%;
    min-height: 20px;
}

div.add {
    text-align: right;
    padding-right: 20%;
    padding-top: 20px;
}
.add-photo {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  background:#ffb912;
  box-shadow: 0 -2px #ffa312 inset;
  border: 0;
}
.add-photo:hover { background: #fc9a00; }
.add-photo:active {
  background: #f28108;
  box-shadow: 0 3px #fc9a00 inset;
}

div.content {
    text-align: center;
    min-height:80%; 
}
div.photo-post{
    margin: 1% 20%;
    width: 60%;
    min-height: 10%;
    border: 1px solid #CCC;
    background-color: #fcfdff;
}
div.author{
    float: left;
    padding-left: 20%;    
}
div.author ul li{
    display: inline;
    list-style: none;   
}
div.post-content{
    height: 30%;
    margin-left: 20%;
    margin-right: 20%;
}
div.actions ul li{
    display: inline;
    float: right;
    margin-right: 5%;
}

div.date {
    float: left;
    padding-left: 20%;

}
div.like {
    float: right;
    padding-right: 10%;
}
div.tag {
    text-align: left;
    padding-left: 20%;
}
div.description p{
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}
.load-more {
        font-size: 16px;
        color: white;
        width: 60%;
        text-decoration: none;
        padding: 5px;
        background:#ffb912;
        box-shadow: 0 -2px #ffa312 inset;
        border: 0;
      }
 .load-more:hover { background: #fc9a00; }      
div.footer {
    margin-top: 5%;
    width: 100%;
    height: 80px;
    background-color:#f7f9fc/* #f0f0f0*/;
    border-top: 1px solid #d1d1d0;
}
div.footer p {
    font-size: 14px;
    color: dimgray;
    padding-left: 20%;
}
